.preview {
  flex: 1;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-background-preview);
}

.image {
  object-fit: contain;
}

.placeholder {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-preview);
  border-radius: var(--border-radius);
}

.placeholderText {
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
}
