.preview {
  position: relative;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(0.99);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.preview.visible {
  opacity: 1;
  transform: scale(1);
}

.previewWeb {
  max-height: 700px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.imageContainerWithBackground {
  min-height: 300px;
  background-color: var(--color-background-preview);
}

.image {
  object-fit: contain;
  object-position: top;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.placeholder {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-preview);
  border-radius: var(--border-radius);
}

.placeholderText {
  color: var(--color-text-primary);
  font-size: var(--font-size-sm);
}
