.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--transition-fast);
}

.logo:hover {
  opacity: 0.8;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}
