.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2);
  padding: var(--space-4) 0;
}

.tag {
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  background-color: var(--color-border);
  padding: var(--space-1) var(--space-3);
  border-radius: 4px;
}
